<div class="modal fade" id="editsmartHomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit your Smart Home System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for smart_home_system do |f| %>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <%= f.error_notification %>

    <%= f.input :system_type, collection: SmartHomeSystem.type_array, as: :select %>

    <%= f.input :username %>

    <%= f.input :password %>

    <%= f.button :submit, class: "btn-primary" %>
            <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
