<div class="modal fade" id="editapplianceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Appliance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <%= simple_form_for appliance do |f| %>

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <%= f.error_notification %>

            <%= f.input :appliance_type %>

            <%= f.input :energy_performance, collection: Appliance.energy_performance_array, as: :select %>

            <%= f.input :energy_consumption %>

            <%= f.button :submit, class: "btn-primary" %>
            <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
