<%= include_gon %>

<div class="container">

  <div class="overview-cards">
    <div class="overview-card">
      <p>Your energy provider<br>
      <strong><%= current_user.utility_account.energy_provider.name %></strong></p>
    </div>

    <div class="overview-card">
      <i class="fas fa-euro-sign"></i>
      <p>Last bill<br>
      <strong>EUR 80.59</strong></p>
    </div>

    <div class="overview-card">
      <i class="fas fa-bolt"></i>
      <p>Usage last month<br>
      <strong>264 kWh</strong></p>
    </div>

    <div class="overview-card">
      <i class="fas fa-seedling"></i>
      <p>CO2 emissions<br>
      <strong>318g/kWh</strong></p>
    </div>
  </div>

  <h1 class= "overview-header">My monthly energy consumption</h1>

  <div class="overview-cards">
    <%= render 'shared/household_month' %>

    <div class="overview-card-appliances">
      <i class="fas fa-plug"></i>
      <div>
        <p><strong>My appliances</strong></p>
        <ul>
          <% @appliances.each do |appliance| %>
          <li class="scroll-down"><%= appliance.appliance_type %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

  <h1 class= "overview-header">My coffee machine - monthly overview</h1>
  <%= render 'shared/smart_plug_month' %>
  <br>
  <h1 class= "overview-header">My coffee machine - today's overview</h1>
  <%= render 'shared/smart_plug_daily' %>

</div>

<!--   <div class="smart-plug-frame">
    <canvas id="smart-plug-daily" style="height: 300px; width: 800px;"></canvas>
  </div> -->

<!--   <div id="smart-plug-month" style="height: 300px; width: 800px;"></div> -->
