<div class="menu">
<div class="row">
  <div class="col-.5">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link icon-nav active" id="v-pills-appliance-tab" data-toggle="pill" href="#v-pills-appliance" role="tab" aria-controls="v-pills-appliance" aria-selected="true"><i class="fas fa-plug"></i></a>
      <a class="nav-link icon-nav" id="v-pills-smarthome-tab" data-toggle="pill" href="#v-pills-smarthome" role="tab" aria-controls="v-pills-smarthome" aria-selected="false"><i class="fas fa-laptop-house"></i></a>
      <a class="nav-link icon-nav" id="v-pills-utility-tab" data-toggle="pill" href="#v-pills-utility" role="tab" aria-controls="v-pills-utility" aria-selected="false"><i class="far fa-lightbulb"></i></a>
      <a class="nav-link icon-nav" id="v-pills-energyprovider-tab" data-toggle="pill" href="#v-pills-energyprovider" role="tab" aria-controls="v-pills-energyprovider" aria-selected="false"><i class="fas fa-bolt"></i></a>
    </div>
  </div>


  <div class="col-10">
    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-appliance" role="tabpanel" aria-labelledby="v-pills-appliance-tab">
        <div class="appliance-wrapper flexbox menu" id="appliance-menu">
          <h7>Add Your Appliances</h7>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applianceModal" data-whatever="@mdo">+</button>
        </div>
           <hr>
          <% unless @user.appliances.nil? %>
        <div class="flexbox menu">
         <h7>Your Appliances: </h7>
        <br>
        <div class="container">
              <% @user.appliances.each do |appliance| %>
         <div class="profile-card">
            <div class="profile-card-info">
              <ul>
                <li>Appliance: <%= link_to appliance.appliance_type, overview_path %></li>
                <li>Energy Performance Rating: <%= appliance.energy_performance %></li>
              </ul>
            </div>
          </div>
              <% end %>
         <hr>
        </div>
        <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-smarthome" role="tabpanel" aria-labelledby="v-pills-smarthome-tab">
        <div class="smarthome-wrapper flexbox menu" id="smarthome-menu">
          <h7>Connect Your Smart Home System </h7>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#smartHomeModal" data-whatever="@mdo">+</button>
        </div>
        <hr>
        <% unless @user.smart_home_systems.nil? %>

        <div class="flexbox menu">
         <h7>Connected smart home systems: </h7>
         <% @user.smart_home_systems.each do |smart_home_system| %>
         <br>
         <ul>
         <li>System Name: <%= smart_home_system.name %></li>
         <li>System Type:<%= smart_home_system.system_type %></li>
         </ul>
         <% end %>
         <hr>
         </div>
         <% end %>
      </div>

      <div class="tab-pane fade" id="v-pills-utility" role="tabpanel" aria-labelledby="v-pills-utility-tab">
        <div class="utility-wrapper flexbox menu" id="utility-menu">
          <h7>Connect Your Utility Account </h7>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#utilityAccModal" data-whatever="@mdo">+</button>
        </div>
        <hr>
         <% unless @user.utility_account.nil? %>
        <div class="flexbox menu">
         <h7>Connected utility account: </h7>
         <br>
         <div class="profile-card">
          <div class="profile-card-infos">
           <ul>
           <li>Energy Provider: <%= @user.utility_account.energy_provider.name%></li>
           <li>Meter Number: <%= @user.utility_account.meter_ref %></li>
           </ul>
          </div>
         </div>
           <hr>
         </div>
         <% end %>
      </div>

    <div class="tab-pane fade" id="v-pills-energyprovider" role="tabpanel" aria-labelledby="v-pills-energyprovider-tab">
      <div class="energyprovider-wrapper flexbox menu" id="energyprovider-menu">
        <h7>Add Your Energy Provider: </h7>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#energyProvModal" data-whatever="@mdo">+</button>
      </div>
      <hr>

    </div>
  </div>
   <%= render 'modal' %>
   </div>
  </div>
  </div>

