<%= include_gon %>
<h1>Pages#data</h1>
<p>DATA TESTS</p>
<%= @load %>
<hr>
<%= @data %>
<div id="chart-bar" style="height: 300px;"></div>
<hr>
<%= @donut %>
<div id="chart-donut" style="height: 300px;"></div>
<hr>
<table>
  <tr>Time: <%= "TODO: timestamp" %></tr>
  <% @data.each do |type, amount|%>
    <tr>
      <td><%=  type %></td>
      <td>
        <%=  amount %>
      </td>
    </tr>
  <% end %>
</table>


