<%= include_gon %>
<h1>Pages#data</h1>
<p>DATA TESTS</p>
<p>renewable - total: <%= @renewable_forecast %> </p>
<hr>
<p>solar forecast: <%= @solar_forecast %></p>
<hr>
<%= @load %>
<hr>
<p>Smart-today: <%= @smart_today %></p>
<p>Smart-yesterday: <%= @smart_yesterday %></p>
<hr>
<p>last API call: <%= @data_created_at %></p>
<%= @data %>
<hr>
<div id="chart-bar" style="height: 300px;"></div>
<hr>
<%= @donut %>
<div id="chart-donut" style="height: 300px;"></div>
<hr>

<div id="chart-re-forecast" style="height: 300px; width: 800px;"></div>

<%= @forecast_rec %>
<hr>

<div id="chart-forecast" style="height: 300px; width: 800px;"></div>

<hr>







<table>
  <tr>Time: <%= "TODO: timestamp" %></tr>
  <% @data.each do |type, amount|%>
    <tr>
      <td><%=  type %></td>
      <td>
        <%=  amount %>
      </td>
    </tr>
  <% end %>
</table>


