<%= include_gon %>

<div class="container">
  <h1 style="margin-bottom: 30px">NOW</h1>

  <div class="now">
    <div class="charts-details">
      <div id="chart-bar" style="height: 300px; width: 500px;"></div>
      <div id="chart-donut" style="height: 300px;"></div>
    </div>
    <div class="card">
      <h2><i class="far fa-lightbulb"></i>  Did you know?</h2>
      <p>Corsair Sail ho bilged on her anchor transom matey mutiny belaying pin measured fer yer chains. Bring a spring upon her cable mizzen come about yawl crimp gangplank brig lugger.</p>
    </div>
  </div>


  <h1 style="margin-bottom: 30px">FORECAST</h1>

  <div class="forecast">
    <div class="forecast-cards">
      <div class="forecast-summary">
        <div class="forecast-rec"><%= @forecast_rec %></div>
        <div class="forecast-max"><%= @forecast_max %></div>
        <div class="forecast-min"><%= @forecast_min %></div>
      </div>

      <div class="forecast-text">
        <h2><i class="far fa-lightbulb"></i>  Did you know?</h2>
        <p>Corsair Sail ho bilged on her anchor transom matey mutiny belaying pin measured fer yer chains. Bring a spring upon her cable mizzen come about yawl crimp gangplank brig lugger.</p>
      </div>
    </div>

    <%= render 'forecast' %>


  <hr>
  </div>
</div>
