
<div class="banner">
    <h2>When it comes to energy, timing is everything.</h2>
    <h4>Smart energy starts with you! 🌍 💗</h4><br>
    <% if !current_user.present? %>
      <%= link_to "Sign up, be a hero!", new_user_session_path, class: "btn-gradient"  %>
    <% end %>
</div>

<div class="title-banner">
  <h1>Ever wondered where your electricity comes from?</h1>
</div>

<div class="home-container">

  <div class="cards">
    <div class="card home">
      <h4>Why it matters</h4>
      <p>The energy sector is the largest source of greenhouse gas emissions worldwide. This is due to the burning of fossil fuels for the production of electricity.</p>

      <p>By shifting electricity demand towards times when there is more renewable energy in the grid, YOU can actively help reduce the emissions from the energy sector.</p>

      <p>Energywatch is here to inform you of the energy mix in real-time and provide you with recommendations.</p>


      <button class="btn btn-action"><%= link_to "Sign up", new_user_session_path %></button>
    </div>

    <div class="donut-frame">
      <div class="background-card"></div>
      <div class="donut">
        <h3>Energy mix</h3>
        <div id="chart-donut" style="height: 400px;"></div>
      </div>
      <h4 class="renewable-share"><strong><%= @re %> %</strong><br>Renewable</h4>
    </div>

  </div>

</div>

<%= link_to details_path do %>
  <div class="recommendation">
      <p><i class="fas fa-bolt"></i> <%= @recommendations %><br>To find out more, click here.</p>
  </div>
<% end %>



<%= link_to 'Download PDF', home_download_pdf_path %>
<%= include_gon %>
