<!DOCTYPE html>
<html>
  <head>
    <title>Energywatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar', style_class: "home_nav"  %>
      <%= render 'shared/banner'%>
    <% else %>
      <%= render 'shared/navbar', style_class: "" %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div class="page-content">

    <%= yield %>

    </div>
    <div class="footer">
        <%= render 'shared/footer' %>
    </div>
  </body>
</html>
