<!DOCTYPE html>
<html>
  <head>
    <title>Energywatch</title>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('energywatch-logo-black.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="page-container">

      <div id="content-wrap">
        <% if current_page?(root_path) %>
          <%= render 'shared/navbar', style_class: "home_nav"  %>
          <%= render 'shared/banner'%>
        <% else %>
          <%= render 'shared/navbar', style_class: "" %>
        <% end %>
        <%= render 'shared/flashes' %>
        <% if current_page?(profile_path) %>
         <%= yield %>
        <% else %>
          <div class="page-content">
            <%= yield %>
          </div>
        <% end %>
      </div>

      <div class="footer" id="footer">
          <%= render 'shared/footer' %>
      </div>
  </div>
  </body>
</html>
